@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .secondary-button {
    @apply py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200;
  }
  .dropdown {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }
}

.pb-wrapper {
  display: flex;
  align-items: center;
}

.barContainer {
  flex: 1;
  height: 25px;
  background: #dfdfe7;
  border-radius: 12px;
  overflow: hidden; /* Crucial part */
}

.textValue {
  margin-left: 8px;
  width: 42px;
  text-align: right;
}

.fillerBackground {
  height: inherit;
  transition: "width 2s ease-i-out";
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(79, 249, 0));
}

.filler {
  transition: "width 2s ease-i-out";
  height: inherit;
  border-radius: inherit;
  overflow: hidden;
}
